{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
  <button>+ Add product</button>
{% endblock %}

{% block content %}
  {% for product in products %}
    <article class="post">
      <header>
        <div class="post-left">
          <h1>{{ product['name'] }}</h1>
          <div class="about">sku: {{ product['sku'] }}</div>
          {% if product['ean'] != None %}
            <div class="about">ean: {{ product['ean'] }}</div>
          {% else %}
            <br>
          {% endif %}
          <p class="body">€ {{ product['price'] }}</p>
        </div>
        <div class="post-links">
          <a class="action" href="#TODO">View</a>
          <a class="action" href="{{ url_for('product_update', product_sku=product['sku']) }}">Edit</a>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}