{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
  {% if not cust_no %}
  <a href="{{ url_for('product_create') }}" class="header-button call-to-action">+ Add product</a>
  {% elif order_no %}
  <a href="{{ url_for('order_view', order_no=order_no) }}" class="header-button call-to-action">View order</a> 
  {% endif %}
{% endblock %}

{% block content %}
  {% for product in products %}
    <article class="post">
      <header>
        <div class="post-left">
          <h1>{{ product['name'] }}</h1>
          <div class="about">sku: {{ product['sku'] }}</div>
          {% if product['ean'] != None %}
            <div class="about">ean: {{ product['ean'] }}</div>
          {% else %}
            <br>
          {% endif %}
          <p class="body">€ {{ product['price'] }}</p>
        </div>
        <div class="post-links">
          {% if cust_no %}
            {% if not order_no %}
            <a href="{{ url_for('order_add_product', product_sku=product['sku'], cust_no=cust_no) }}"
            class="header-button call-to-action">+</a>
            {% else %}
            <a href="{{ url_for('order_add_more_product', product_sku=product['sku'], cust_no=cust_no, order_no=order_no) }}"
            class="header-button call-to-action">+</a>
            {% endif %}
          {% else %}
          <a class="action" href="#TODO">View</a>
          <a class="action" href="{{ url_for('product_update', product_sku=product['sku']) }}">Edit</a>
          {% endif %}
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}