{% extends 'base.html' %}

{% block header %}
<h1>
    {% block title %} Checkout order {{ order_no }} {% endblock %}
</h1>
{% endblock %} 


{% block content %}
<div class="order-heading">
    <h1>Items</h1>
</div>

  <table>
    <tr>
      <th>SKU</th>
      <th>Product name</th>
      <th>Price per unit</th>
      <th>Qty.</th>
      <th class="price-col">Price</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{ item['sku'] }}</td>
      <td>{{ item['name']}}</td>
      <td>€ {{ item['price'] }}</td>
      <td>{{ item['qty'] }}</td>
      <td class="price-col">€ {{ item['qty_price'] }}</td>
    </tr>
    {% endfor %}
  </table>

    <div class="totals-2col">
        <p>{{ items | length }} items</p>
        <p>TOTAL <b>€ {{ total }}</b></p>
    </div>

    <div class="details-heading">
        <h1>Payment details</h1>
    </div>
    <div class="details-content">
      <div class="details-content-left"><b>Name:</b> {{ customer['name'] }}</div>
      <div class="details-content-right"><b>Customer:</b> {{ customer['cust_no']}}</div>
      <div class="details-content-left"><b>Email: </b>{{ customer['email']}}</div>
      <div class="details-content-right"><b>Phone: </b>{{ customer['phone']}}</div>

    </div>


    <form action="{{ url_for('order_paid', cust_no=customer['cust_no'], order_no=order_no)}}" method="post">
      <label for="address">Shipping address </label>
      <input name="address" id="address" type="text" value="{{ request.form['address'] or customer['address'] }}" required>

      <div class="post-2col">
        <div>
        <label for="card">Credit/Debit Card </label>
        <input name="card" id="card" type="text">
        </div>
        <div>
        <label for="date">Expiration date (mm/yy)</label>
        <input name="date" id="date" type="text">
        </div>
      </div>
      <button type="submit" class="header-button call-to-action pay-btn">Pay</a>
    </form>

{% endblock %}