{% extends 'base.html' %} 

{% block header %}
  <h1>
    {% block title %} Order &#35;{{ order['order_no'] }} | View {% endblock %}
  </h1>
{% endblock %} 

{% block content %}
  <div class="details">
    <div>
      <br>
      <div>
        <b>Date issued: </b>{{ order['date'] }}
      </div>
      <div>
        <b>Issued by:</b>
        <a href="{{ url_for('customer_view', cust_no=order['cust_no']) }}">
          {{ order['cust_name'] }}
        </a>
      </div>
    </div>
  </div>
    
  <div class="order-heading">
    <h1>Items</h1>
    <a href="#TODO" class="header-button call-to-action">+ Add item</a>
  </div>

  <table>
    <tr>
      <th class="delete-col"></th>
      <th>SKU</th>
      <th>Product name</th>
      <th>Price per unit</th>
      <th>Qty.</th>
      <th class="price-col">Price</th>
    </tr>
    {% for item in items %}
    <tr>
      <td class="delete-col"><a href="#TODO">X</a></td>
      <td>{{ item['sku'] }}</td>
      <td>{{ item['name']}}</td>
      <td>€ {{ item['price'] }}</td>
      <td>{{ item['qty'] }}</td>
      <td class="price-col">€ {{ item['qty_price'] }}</td>
    </tr>
    {% endfor %}
  </table>

  <div class="totals-2col">
    <p>{{ items | length }} items</p>
    <p>TOTAL <b>€ placeholder</b></p>
  </div>

  <a href="#TODO">Proceed to checkout</a>

{% endblock %}
