{% if cust_no=='0' %}
  {% extends 'base.html' %}
{% else %}
  {% extends 'base_cust.html' %}
{% endif %}

{% block header %}
  <h1>{% block title %}Suppliers{% endblock %}</h1>
  {% if cust_no=='0' %}
    <a href="{{ url_for('supplier_create') }}" class="header-button call-to-action">+ Add supplier</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for supplier in suppliers %}
    <article class="post">
      <header>
        <div class="post-left">
          <h1>{{ supplier['name'] }}</h1>
          <div class="about">in: {{ supplier['address'] }}</div>
          {% if supplier['sku'] %}
          <div class="about">sku: {{ supplier['sku'] }}</div>
          {% else %}
          <br>
          {% endif %}
          <div class="about">{{ supplier['date'] }}</div>
          <p class="body"> {{ supplier['tin'] }}</p>
        </div>
        <div class="post-links">
          {% if cust_no=='0' %}
            <a class="action" href="{{ url_for('supplier_update', tin=supplier['tin']) }}">Edit</a>
          {% endif %}  
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}