{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}
  {% if supplier['tin'] != "" %}
    Supplier &#35;{{ supplier['tin'] }} | Edit
  {% else %}
    Create New Supplier
  {% endif %}
  {% endblock %}</h1>{% endblock %}

{% block content %}
  <form method="post">
    <div class="post-2col">
      <div>
        <label for="tin">Supplier TIN</label>
        {% if supplier['tin'] != "" %}
        <input name="tin" id="tin" type="text" value="{{ request.form['tin'] or supplier['tin'] }}" disabled>
        {% else %}
        <input name="tin" id="tin" type="text">
        {% endif %}
      </div>
      <div>
        <label for="sku">Product Supplied</label>
        <select name="sku" id="sku">
          {% if supplier['sku'] == "" %}
            <option value="" selected>None</option>
          {% else %}
            <option value="">None</option>
          {% endif %}
          {% for product in products %}
            {% if supplier['sku'] == product['sku'] %}
              <option value="{{ product['sku'] }}" selected>{{ product['name'] }} - {{ product['sku'] }}</option>
            {% else %}
              <option value="{{ product['sku'] }}">{{ product['name'] }} - {{ product['sku'] }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    
    <label for="name">Name</label>
    {% if supplier['name'] != "" %}
    <input name="name" id="name" type="text" value="{{ request.form['name'] or supplier['name']}}" required>
    {% else %}
    <input name="name" id="name" type="text">
    {% endif %}
    <label for="address">Address</label>
    {% if supplier['address'] != "" %}
    <input name="address" id="address" type="text" value="{{ request.form['address'] or supplier['address'] }}" required>
    {% else %}
    <input name="address" id="address" type="text">
    {% endif %}
    <label for="date">Date</label>
    {% if supplier['date'] != "" %}
    <input name="date" id="date" type="date" value="{{request.form['date'] or supplier['date']}}" required>
    {% else %}
    <input name="date" id="date" type="text">
    {% endif %}

    {% if error %}
    <p class="error-messsage"><b>Error:</b> {{ error }}</p>
    {% endif %}

    <input type="submit" value="Save">
  </form>
  {% if supplier['tin'] != "" %}
  <hr>
  <form action="{{ url_for('supplier_delete', tin=supplier['tin']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  {% endif %}
{% endblock %}
