{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Supplier {{ supplier['tin'] }} | Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="tin">Account Number</label>
    <input name="tin" id="tin" type="text" value="{{ request.form['tin'] or supplier['tin'] }}" disabled>
    <label for="balance">Balance</label>
    <input name="balance" id="balance" type="number" min="0" step="0.0001" placeholder="0.0000" value="{{ request.form['balance'] or account['balance'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('supplier_delete', tin=supplier['tin']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
