{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Supplier {{ supplier['tin'] }} | Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="post-2col">
      <div>
        <label for="tin">Supplier TIN</label>
        <input name="tin" id="tin" type="text" value="{{ request.form['tin'] or supplier['tin'] }}" disabled>
      </div>
      <div>
        <label for="sku">Supplier Sku</label>
        <input name="sku" id="sku" type="text" value="{{ request.form['sku'] or supplier['sku'] }}" disabled>
      </div>
    </div>
    
    <label for="name">Name</label>
    <input name="name" id="name" type="text" value="{{ request.form['name'] or supplier['name']}}" required>
    
    <label for="address">Address</label>
    <input name="address" id="address" type="text" value="{{ request.form['address'] or supplier['address'] }}" required>
    <label for="date">Date</label>
    <input name="date" id="date" type="date" value="{{request.form['date'] or supplier['date']}}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('supplier_delete', tin=supplier['tin']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
