{% if not new %}
  {% if cust_no=='0' %}
    {% extends 'base.html' %}
    {% block storeManagerLink %}/products/0{% endblock %}
  {% else %}
    {% extends 'base_cust.html' %}
    {% block storeLink %}/products/{{ cust_no }}{% endblock %}
  {% endif %}
{% else %}
  <!doctype html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endif %}




{% block header %}
<h1>{% block title %}
  {% if customer['cust_no'] != "" %}
    Customer &#35;{{ customer['cust_no'] }} | Edit
  {% else %}
    Create New Customer Account
  {% endif %}
  {% endblock %}</h1>{% endblock %}

{% block content %}
  {% if customer['cust_no'] != "" %}
  <form method="post">  
  {% else %}
  <form method="post" class="login-form">  
  {% endif %}
    <label for="name">Name</label>
    {% if customer['name']!="" %}
    <input name="name" id="name" type="text" value="{{ request.form['name'] or customer['name'] }}">
    {% else %}
    <input name="name" id="name" type="text">
    {% endif %}
    <div class="post-2col">
      <div>
        <label for="email">Email</label>
        {% if customer['email']!="" %}
        <input name="email" id="email" type="text" value="{{ request.form['email'] or customer['email'] }}">
        {% else %}
        <input name="email" id="email" type="text">
        {% endif %}
      </div>
      <div>
        <label for="phone">Phone number</label>
        {% if customer['phone']!="" %}
        <input name="phone" id="phone" type="text" value="{{ request.form['phone'] or customer['phone'] }}">
        {% else %}
        <input name="phone" id="phone" type="text">
        {% endif %}
      </div>
    </div>
    <label for="address">Address</label>
    {% if customer['address']!="" %}
    <input name="address" id="address" type="text" value="{{ request.form['address'] or customer['address'] }}">
    {% else %}
    <input name="address" id="address" type="text">
    {% endif %}
    {% if new %}
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    {% endif %}
    {% if error %}
    <p class="error-messsage"><b>Error:</b> {{ error }}</p>
    {% endif %}
    
    <input type="submit" value="Save">
  </form>
  <hr>
  {% if not new %}
  <form action="{{ url_for('customer_delete', cust_no=customer['cust_no']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  {% endif %}
{% endblock %}
