{% if manager %}
  {% extends 'base.html' %}
{% else %}
  {% extends 'base_cust.html' %}
{% endif %}

{% block header %}
  <h1>
    {% block title %} Customer &#35;{{ customer['cust_no'] }} | View {% endblock %}
  </h1>
{% endblock %} 

{% block content %}
  <div class="details">
    <div>
      <h2>{{ customer['name'] }}</h2>
      <div>
        <b>Email:</b>
        <a href="mailto:{{ customer['email'] }}">{{ customer['email'] }}</a>
      </div>
      <div><b>Password: </b>*********</div>
      <div><b>Phone:</b> {{ customer['phone'] }}</div>
      <div><b>Address:</b> {{customer['address'] }}</div>
    </div>
    <div>
      {% if not manager %}
        <a
          href="{{ url_for('customer_update', cust_no=customer['cust_no']) }}"
          class="customer-view-edit"
          >Edit customer details</a>
      {% endif %}
    </div>
  </div>
  <br>
  <hr>

  <div class="order-heading">
    <h2>Order history</h2>
    {% if not manager %}
      <a href="{{ url_for('customer_new_order', cust_no=customer['cust_no'])}}" 
      class="header-button call-to-action">+ New order</a>
    {% endif %}
  </div>
  {% if orders != [] %}
    {% for order in orders %}
      <article class="post">
        <header>
          <div class="post-left">
            <h1>{{ order['date'] }}</h1>
            <div class="about">Order ID: {{ order['order_no'] }}</div>
            <div class="about">{{ order['num_items']}} items</div>
            {% if not order['paid'] %}
            <p class="body">€ {{ order['total_price'] }} <b>(Awaiting payment)</b></p>
            {% else %}
            <p class="body">€ {{ order['total_price'] }}</p>
            {% endif %}
          </div>
          <div class="post-links">
            {% if not manager %}
              <a href="{{ url_for('order_view', order_no=order['order_no'], cust_no=customer['cust_no']) }}" class="action">View contents</a>
            {% else %}
              <a href="{{ url_for('order_view_employee', order_no=order['order_no'], cust_no=customer['cust_no']) }}" class="action">View contents</a>
            {% endif %}
            {% if not order['paid'] %}
              {% if not manager %}
                <a href="{{ url_for('pay_order', order_no=order['order_no'], cust_no=customer['cust_no']) }}" class="action">Proceed to checkout</a>
              {% endif %}
            {% endif %}
          </div>
        </header>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% else %}
  <p>No orders issued yet.</p>
  {% endif %}

{% endblock %}
