html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

.login {
  text-align: center;
  color: #333;
  padding: 20px;
}

form {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form {
  max-width: 300px;
}

.login-form * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"], input[type="password"], input[type="date"] {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0b65c5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  margin: 1rem 0;
}

a {
  color: #0b65c5;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
  border-radius: 4px;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header .header-button {
  margin: 1em 0;
  cursor: pointer;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  border-radius: 4px;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}

.post > header {
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.post .post-links {
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  align-items: end;
}

.content:last-child {
  margin-bottom: 0;
}

.content form:not(.order-delete-item-form) {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content form .post-2col {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

.content form .post-2col div {
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
  font-size: 1rem;
  font-family: inherit;
}

/*.call-to-action {
  padding: 0.3em 0.5em;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 0.3em;
  text-decoration: none;
  color: inherit;
}*/

.login-button {
  display: block;
  margin: 0 300px;
  margin-bottom: 10px;
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.call-to-action {
  text-decoration: none;
  background-color: #DDDDDD;
  color: #333;
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  cursor: pointer;
}

input.danger {
  background-color: #cc2f2e;
  margin-bottom: 0;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details .customer-view-edit {
  display: block;
  padding: 1em;
  padding-right: 0;
}

.order-heading {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

.order-heading a {
  padding-right: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left; 

} 

table tr > * {
  padding: 0.3em 0;
}

table tr >*:first-child {
  padding-left: 0.5em;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table th {
  background-color: lightgray;
}

table .price-col {
  text-align: right;
  padding-right: 0.5em;
}

.totals-2col {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5em;
}

.order-delete-item-form {
  margin: 0;
  padding: 0;
  display: inline;
}

.order-delete-item {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #922a0d;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
}

.order-add-product input[type=submit] {
  font-family: inherit;
  font-size: inherit;
}

.product-2col {
  display: flex;
  justify-content: space-between;
}

.product-right * {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.product-right form input[type=number] {
  width: 4.5em;
}

.product-right form input[type=submit] {
  padding-left: 0;
  padding-right: 0;
  align-self: end;
}

.product-right a {
  display: block;
  width: max-content;
  padding-top: 1em;
}

.product-price {
  font-size: large;
}

.product-about {
  color: slategray;
  font-style: italic;
  font-size: small;
}

.details-content {
  display: grid;
  columns: auto 2;
  width: 50%;
}

.details-content div {
  display: inline;
}

.details-content-left {
  grid-column: 1;
}

.details-content-right {
  grid-column: 2;
}